<html>
    <body>
        <form action="translate">
            <table>
                <tr>
                    <td>
                        <label>
                            Enter a text in any language:
                        </label>
                    </td>
                    <td>
                        <input type="text" name="te" required/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Enter destination language:
                        </label>
                    </td>
                    <td>
                        <input type="text" name="t2" required/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="convert"/>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>